@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
body {
    font-family: 'Scheherazade New', sans-serif;
    color: darkgrey;
}

h1,
h2 {
    font-weight: 400;
    margin: 10px 0;
}

p {
    /* margin: 10px 0; */
    color: black;
}

.navbar {
    border: 1px solid black;
}

#footer {
    position: fixed;
    bottom: 0;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}


/* flexbox navbar */

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
    list-style: none;
}

.navigation a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
}

.navigation a:hover {
    background-color: lightblue;
}

.navigation #logo {
    display: inline-block;
    width: 40px;
    height: 40px;
}


/* toDo style */

.toDos {
    margin-top: 25px;
    border: 1px solid black;
}

.container {
    width: 360px;
}

#addTodo {
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

#inputField {
    height: 50px;
    width: 250px;
    border: 1px solid black;
    outline: none;
    font-size: 20px;
    vertical-align: middle;
}

.paragraph-styling {
    cursor: pointer;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}